body {
    background: #08A;
    font-family: sans-serif;
    margin: 50px auto;
    max-width: 500px;
    width: 90%;
}

#wrap {
    background: white;
    padding: 1em;
}

h1 {
    font-weight: normal;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

form {
    margin-bottom: 1em;
    text-align: center;
}
